*.tmp
*.bak
*.swp
*~.nib
*.log
*.lck
*.bin

/DiscoTek/.classpath
/DiscoTek/.project
/DiscoTek/.gradle/
/DiscoTek/.settings/
/DiscoTek/bin/
/DiscoTek/build/
/DiscoTek/config/
/DiscoTek/eclipse/
/DiscoTek/mods/
/DiscoTek/resourcepacks/
/DiscoTek/run/
/DiscoTek/saves/
/DiscoTek/stats/